# ==========================================
# Frontend Environment Configuration
# ==========================================

# Tên miền (Domain) ứng dụng Frontend (Next.js)
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Backend API Base URL (gồm prefix api/v1)
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1

# MinIO Public URL (để tải hình ảnh/video trực tiếp nếu cần)
NEXT_PUBLIC_MINIO_URL=http://localhost:9000

